@model IEnumerable<ChurchFinanceSite.Models.Giver>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Givers</h2>
<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.FirstName
            </td>
            <td>
                @item.Middle
            </td>
            <td>
                @item.LastName
            </td>
        </tr>
    }
</table>

