@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Welcome!</h2>
        <p>
            Would you like to get your church finance in order? This is the place to start.
        </p>
    </div>
    
</div>